<div class="container">
    <div class="row text-white">
        <div class="col-3">
            <p> About Us </p> 
        </div>
        <div class="col-3">
            <p> Offers </p>
            <p> Offer 1 </p>
            <p> Offer 2 </p>
            <p> Offer 3 </p>
        </div>
        <div class="col-3">
            <p> Help </p>
            <p> FFQ </p>
        </div>
        <div class="col-3">
            <p> Social media</p>
            <p> X </p>
            <p> Y </p>
            <p> Z </p>
        </div>
    </div>
</div>