<div class="container">
    <h2 class="p-3 border-bottom text-center"> Change Your Password </h2>
    <form class="p-3" (ngSubmit)="saveNewPassword()">
        <div class="row p-1">
            <p class="col-sm"> Your Current Password: </p>
            <p class="col-sm"> ********** </p>
        </div>
        <div class="row p-1">
            <label for="password" class="col form-label"> New Password: </label>
            <input type="password" class="col form-control" id="password" [(ngModel)]="newPassword" name="password">
        </div>
        <div class="row p-1">
            <label for="password2" class="col form-label"> New Password Again: </label>
            <input type="password" class="col form-control" id="password2" [(ngModel)]="confirmPassword" name="password2">
        </div>
        <div class="d-flex justify-content-center p-2">
            <button type="submit" class=" btn btn-secondary text-end">Save</button>
        </div>
    </form>
</div>