<div class="container">
    <div *ngIf="userTickets.length > 0">
        <div class="row">
            <h4 class="col-md-6 py-3 px-4"> Your Tickets </h4>
            <div class="col-md-6 py-3 dropdown text-end">
                <button  class="btn btn-dark dropdown-toggle" mat-button [matMenuTriggerFor]="sortingMenu"> Sort: {{ selectedSortingOption }}</button>
                <mat-menu #sortingMenu="matMenu" xPosition="before">
                  <button mat-menu-item (click)="selectSortingOption('Newest')">Newest</button>
                  <button mat-menu-item (click)="selectSortingOption('Oldest')">Oldest</button>
                </mat-menu>
            </div>
        </div>
        <div class="bg-dark p-4 mb-1" *ngFor="let ticket of userTickets">
            <div class="row p-3 ">
                <div class="col-md-3 col-sm-6 fw-bold"> Order Id:
                    <div> {{ ticket.orderId }} </div>
                </div>
                <div class="col-md-3 col-sm-6 "> Order Date:
                    <div> {{ ticket.orderDate | date: 'MMM d, y' }} </div>
                </div>
                <div class="col-md-3 col-sm-6 "> Movie:
                    <div> {{ ticket.showtime.movie.name }} </div>
                </div>
                <div class="col-md-2 col-sm-6 "> Total:
                    <div> € {{ ticket.paidAmount }} </div>
                </div>
                <button class="col-md-1 btn btn-link text-white" (click)="toggleExpand(ticket)"> Details </button>
            </div>
            <div class="row p-3 text-center" *ngIf="ticket.isExpanded">
                <div class="col-md-4"> Showtime: {{ ticket.showtime.session.startTime | slice: 0:5 }}
                    {{ ticket.selectedDate | date: 'MMM d, y' }} </div>
                <div class="col-md-4"> Seats:
                    {{ getSeatNumbers(ticket.assignedSeats) }}
                </div>
                <div class="col-md-4">
                    {{ ticket.adultCount !==0 ? ticket.adultCount + ' Adult ' : ''}}
                    {{ ticket.childCount !==0 ? ticket.childCount + (ticket.childCount >1 ? ' Children ' : ' Child '): ''}}
                </div>
            </div>
        </div>
    </div>
    <div class="fst-italic" *ngIf="userTickets.length == 0">
        <p> You don't have any tickets </p>
    </div>
</div>