<div class="container-md border m-3">
    <div class="row align-items-baseline">
        <div class="col-md-10">
            <h1> <a class="text-decoration-none"
                routerLink="/home"> MovieMate </a> </h1>
        </div>
        <div class="col-md-2">
            <a class="text-decoration-none"
            routerLink="/login"> Login/Register </a>
        </div>
    </div>
    <div class="row">
        <p class="col-md-2"> Movies </p>
        <p class="col-md-2"> Search </p>
    </div>
</div>