<app-header></app-header>
<div class="container text-white col-md-8 mt-5">
    <div class="row d-flex justify-content-between">
        <button class="col-md-2" (click)="backToShowtimes()"> Back To Showtimes </button>
        <h2 class="col-md-2"> Checkout </h2>
        <button class="col-md-2" (click)="closeShowtimes()"> Close </button>
    </div>
    <div class="row">
        <div class="col p-5">
            <h5 class="p-2">{{ movie?.name }} </h5>
            <h5 class="p-2">{{ showtime?.session?.startTime | slice: 0:5 }}</h5>
            <h5 class="p-2">{{ selectedDate }}</h5>
        </div>
    </div>
</div>
<app-footer class="fixed-bottom"></app-footer>
